

.wrapper.before {
  content:'';
  display:table
}

.wrapper.after {
  clear: both;
}

.info-html {
  width: 25%;
}

.add {
  width: 75%;
}

.names {
  font-family: font2;
  text-align: center;
}

#head1 {
  font-family: titleFont;
  font-size: 80px;
  text-align: center;
  color: white;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0px;
  float: left;
  height: 35px;
  margin: 0px 50px 0px 0px;
  color: white;
  text-align: left;
  padding: 10px 30px;
  width: 180px;
  font-family: titleFont;
}
