
@font-face {
  font-family: titleFont;
  src: url("fonts/Prototype.ttf");
}

body {
  margin:0;
  padding:0;
  background: black url("images/bodybg1.jpg") no-repeat fixed top;
  background-size: 45%;
}



.nav {
  position: fixed; 
  top:0%;
  width:100%;
  background-color: #09233d;
  font-family:Copperplate,Copperplate Gothic Light,fantasy;
  font-size: 20px; 
}

.title {
  position:relative;
  font-family: "titleFont";
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-left :20%;
  padding-right : 15px;

}

.drop {
  font-family: "titleFont";
  font-size: 15px;
  text-align: center;
  color: white;
  padding-left :100px;
}


ul {
  list-style-type:none;
  margin:0;
  padding-left:25%;
  overflow:hidden;
}


li {
  float: left;
} 


li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

.li1 a:hover {
  background-color:#147ea8;
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #09233d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-down a {
    font-family:Copperplate,Copperplate Gothic Light,fantasy;
    font-size:15px;
    font-weight:bold;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-down a:hover {
  background-color: #147ea8
}


.li2:hover .drop-down {
    display: block;
}

