body{

}

@font-face {
  font-family: titleFont;
  src: url("fonts/york.ttf");
}

@font-face {
  font-family: font2;
  src: url("fonts/as.ttf");
}

img {
  display: block;
  margin: 0 auto;
}


.bgimage {
  opacity: 1.0;
  background: url("images/cut.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}

.topimg{
    position: fixed;
    top: 0%;
    width: 100%;
}


.navbar {
  font-family: font2;
  font-size: 20px; 
  position: fixed;
  margin-top: 190px; 
  width: 100%
}


.ul-nav {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #333
}



li {
  float: left;

} 


li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

li a:hover {
  background-color: #111;
}
