/* 

 */ 

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}


.bgimage {
    background-position: center;
    background-size: cover;
    background-image: url("Movies.jpg");
    background-repeat: no-repeat;
    min-height: 100px;
    text-shadow: 5px 5px 10px #FFF;
}
.navbar li a {padding: 16px;float: left;}


.display-container{position:relative}
.grayscale-min{-webkit-filter:grayscale(50%);filter:grayscale(50%)}

.display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.padding-xxlarge{padding:24px 48px!important}
.jumbo{font-size:64px!important}

.hide-small{display:none!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}

.text-white{color:#fff;}
.w3-large{font-size:18px!important}
.w3-margin-top{margin-top:16px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.getstarted-btn{ 
	border:none;display:inline-block;outline:0;padding:6px 26px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.getstarted-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.login-link{
	position: absolute;
	text-decoration: none!important;
	text-align:center;
	color: #fff;
	top: 5%;
	left: 93%
}
.center-aligned{text-align:center!important}
.padding-super{
	padding-top:228px;
	padding-bottom:18px}

.footer-container{padding:0.01em 16px}
.footer-padding{padding-top:20px!important;padding-bottom:20px!important}
.footer-opacity,.footer-hover-opacity:hover{opacity:0.60;-webkit-backface-visibility:hidden}
.w3-xlarge{font-size:24px!important}
.w3-padding-32{padding-top:22px!important;padding-bottom:22px!important}
.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-hover-text-light-blue:hover{color:#87CEEB!important}








