.sub-container {
  position:relative;
  left: 30%;
  right: 30%;
  top:60px;
  width:40%;
}

.act {
  margin-top:80px;
}

.genre {
  margin-left:50px;
  color:yellow;
  position:relative;
}

.action {
 margin-left:50px;
 margin-right:50px;
 margin-bottom: 80px;
 overflow: auto;
 white-space: nowrap;


}

.action  div {
  width: 125px;
  height: 178px;
  display: inline-block;
  padding: 20px;
  visibility: visible;
}

.comedy {
 margin-left:50px;
 margin-right:50px;
 margin-bottom: 80px;
 overflow: auto;
 white-space: nowrap;
}


.comedy  div {
  width: 125px;
  height: 178px;
  display: inline-block;
  padding: 20px;
}

.drama {
 margin-left:50px;
 margin-right:50px;
 margin-bottom: 80px;
 overflow: auto;
 white-space: nowrap;
}


.drama  div {
  width: 125px;
  height: 178px;
  display: inline-block;
  padding: 20px;
}

.family-kids {
 margin-left:50px;
 margin-right:50px;
 margin-bottom: 80px;
 overflow: auto;
 white-space: nowrap;
}


.family-kids  div {
  width: 125px;
  height: 178px;
  display: inline-block;
  padding: 20px;
}

.horror-scifi {
 margin-left:50px;
 margin-right:50px;
 margin-bottom: 80px;
 overflow: auto;
 white-space: nowrap;
}


.horror-scifi  div {
  width: 125px;
  height: 178px;
  display: inline-block;
  padding: 20px;
}

.documentries {
 margin-left:50px;
 margin-right:50px;
 margin-bottom: 80px;
 overflow: auto;
 white-space: nowrap;
}


.documentries  div {
  width: 125px;
  height: 178px;
  display: inline-block;
  padding: 20px;
}

img {
  border-style:solid;
  border-color: white;

} 

img:hover{
  border-style:solid;
  border-color: yellow;
}

