
@font-face {
  font-family: titleFont;
  src: url("../fonts/Prototype.ttf");
}



body {
  margin:0;
  padding:0;
  background: black url("../images/bodybg1.jpg") no-repeat fixed top;
  background-size: 60%;
}



.titlelogin {
  position:relative;
  top:20px;
  height:80px;
  font-family: "titleFont";
  font-size: 40px;
  font-weight: bold;
  color: white;

}


.title {
  position:relative;
  font-family: "titleFont";
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-right : 30px;

}



.menu {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:20px;
    font-family:Copperplate,Copperplate Gothic Light,fantasy;
	font-weight:bold;
}

.sub-menu {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:20px;
    font-family:Copperplate,Copperplate Gothic Light,fantasy;
	font-weight:bold;
}


